body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1a4b3c;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #80f5dc;
}
header {
    background-color: #80f5dc;
    padding: 20px;
}
.banner img {
    width: 120px;
    margin: 10px;
}
main {
    padding: 20px;
}
input, button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
   background-color: #14d0a7;
  
}
#resultado {
    margin-top: 20px;
    font-weight: bold;
}
.galeria {
    margin-top: 40px;
}
.galeria img {
    width: 150px;
    margin: 10px;
}